table{
    border: 1px solid black;
    table-layout: fixed;
    width: 1000px;
}

th, td {
    border: .2px solid black;
    width: 80px;
    padding: 0;
    height: 80px;
    border: 1px solid black;
}

td {
    align:center;

}